*{
    margin: 0;
    padding: 0;
}

.curioLogo{
    max-width: 300px; 
}

.fotoSchool{
    max-width: 300px;
}

header{
    background-color: lightblue;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

.vakken{
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    margin: 100px;
}

html, body {
    background-color: lightgreen;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main vult de beschikbare ruimte */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Plaatst inhoud verticaal in het midden */
    align-items: center;    /* Plaatst inhoud horizontaal in het midden */
    text-align: center;
    gap: 10px;
}

/* Footer blijft altijd onderaan */
footer {
    background-color: red;
    padding: 10px;
    text-align: center;
}

img{
    max-width: 250px;
}

a:hover {
    color: yellow;
  }
